/*regole comuni*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html{
    scroll-behavior: smooth; 
 }
 
.container{
    width: 80%;
    max-width: 1180px;
    margin: 0 auto;
}
/*clearfix*/
header .row::after{
    content: "";
    display: table;
    clear: both;
 }

 #jumbotron .container-grande::after{
    content: "";
    display: table;
    clear: both;
 }

 #business .abbonamenti::after{
    content: "";
    display: table;
    clear: both;
 }

 .sez-orizzontale .contenuto-orizzontale::after{
    content: "";
    display: table;
    clear: both;
 }

 .partner::after{
    content: "";
    display: table;
    clear: both;
 }

 #member::after{
    content: "";
    display: table;
    clear: both;
 }
 .banner-cta .banner::after{
    content: "";
    display: table;
    clear: both;
 }

 .faq .question-row:after{
    content: "";
    display: table;
    clear: both;
 }
 footer .container-grande::after{
    content: "";
    display: table;
    clear: both;
 }

/*regole dei bottoni*/
.btn{
    background-color: #0061ff;
    padding: 8px 18px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
}
.btn.white{
    background-color: #fff;
    color: #000;
    display: inline;
}
/*effetto di hover dei btn*/
.btn:hover{
    background-color: #297afe;
}
.btn.white:hover{
    background-color: #f5f5f5;
}
.underline.blue{
    color: #0464ff;
    text-decoration: underline;
}

/*regola delle linea per dividere i contenuti*/
.linea{
    border-bottom: solid 1px;
    width: 100%;
    margin: 20px 0px;
}
.linea.piccola{
    color: grey;
    width: 15%;
    margin-left: 14px;
}
/*Debug
.container {
    border: solid 1px #000;
}
.container-grande{
    border: solid 1px #ff0;
}*/


/*Regole Header*/

header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    z-index: 999;
}

header .row{
    line-height: 80px;   
}

header nav ul li{
    display: inline-block;
    padding: 0px 20px;
    line-height: 78px;
}
header nav ul li a {
    text-decoration: none;
    padding: 0px 10px;
    color: #000;
    display: inline-block;
}
header nav .menu.sx{
    float: left;
}

header nav .menu.dx{
    float:right;
}

header .logo{
    height: 72px;
    vertical-align: middle;
}

.btn.inizia{
    display: inline;
}
/*effetto di hover del menù*/
header li.underline:hover{
    border-bottom: solid 1px #000;
}

/*Jumbotron*/

/*container che da la grandezza del contenuto del jumbotron*/
.container-grande{
    margin: 0 auto;
    width: 95%;
    max-width: 1480px;
}

#jumbotron{
    background-color: #b4d0e7;
    height: 728px;
}

/*regole dei contenuti del jumbotron*/
#jumbotron h1{
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 5.1em;
}
#jumbotron p{
    margin-bottom: 20px;
    width: 77%;
}

#jumbotron  p.under-btn{
    padding-top: 10px;
}

#jumbotron a{
    text-decoration: none;
}

#jumbotron a .fas{
    color: #000;
    font-size: 40px;  
    padding-top: 30px; 
}

.img-jumbotron img{
    width: 100%;
}
/*regole di flottaggio del jumbotron*/
#jumbotron .text-jumbotron{
    width: 35%;
    float: left;
    display: inline-block;
}
#jumbotron .img-jumbotron{
    width: 65%;
    float: left;
    display: inline-block;
    
}

/*Main*/

/*Section "Piani Business"*/
#business{
    margin-top: 300px;
}
/*sezione titolo*/
.titolo-business h2{
    font-size: 2.8em;
}
.titolo-business p{
    display: inline-block;
    margin: 50px 0px;
}  
/*pallino*/

.cerchio-blu{
    width: 20px;
    height: 20px;
    border: solid 5px #2175ff;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
}

.cerchio{
    width: 20px;
    height: 20px;
    border: solid 2px #d9d9db;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
}
/*sezione colonna regole generali*/
#business .colonna{
    float: left;
    width: 30%;
    border: solid 1px grey;
    
}
.text-colonna{
    padding: 15px 10px;
}
.colonna.centrale{
    margin: 0px 5%;
}
.colonna{
    min-height: 1100px;
}
/*titolo della colonna*/
#business .titolo-colonna{
    text-align: center;
    border-bottom: solid 1px grey;
}
#business .titolo-colonna p{
    padding: 10px 0px;
}
#business .text-colonna h3{
    font-size: 1.7em;
}
/*sezione plan della colonna parte alta*/
.plan-name{
    padding: 30px 15px;
}
.plan-name .costo{
    padding: 10px 0px;
}
.plan-name .cadenza{
    color: #585858;
}
/*lista della colonna*/
#business ul li {
    list-style: none;
    padding: 15px 0px;
    
}
#business .btn.business{
    padding: 8px 62px;
    margin: 40px 10px;
}

#business .prova-gratis span, .piano h4{
    margin-left: 10px;
}
.fas.fa-check{
    color: #0464ff;
}
/*sezione orizzontale*/
.sez-orizzontale{
    width: 100%;
    margin-top: 20px;
    border: solid 1px grey;
}

.contenuto-orizzontale{
    margin-top: 30px;
}

/*regole di flottaggio della sezione orizzontale*/
.text-cnt-orizzontale{
    float: left;
    margin-left: 30px;
}
.bottone{
    float: right;
    margin-right: 30px;
}

/*contenuti della sezione orizzontale*/
.btn.big{
    padding: 8px 60px;
}

.text-cnt-orizzontale h3{
    font-size: 1.7em;
}
.text-cnt-orizzontale h4{
    margin: 15px 0px;
}
.text-cnt-orizzontale p{
    margin-bottom: 30px;
}

/*section Partner*/
.partner{
    margin-top: 100px;
}

/*regole di flottaggio della sezione partner*/
.partner .foto{
    width: 55%;
    float: left;
}

.partner .text-partner{
    width: 40%;
    float: right;
}

/*contenuto della sezione partner*/
.foto img{
    width: 100%;
}
.partner .text-partner h3{
    font-size: 1.8em;
    margin: 30px 0px;
}

.partner .text-partner p{
    font-size: 1.1em;
    margin: 25px 0px;
}

.btn.white.black-border{
    border: solid 1.5px #000;
}


/*section strumenti*/

.strumenti{
    margin-top: 90px;
}

/*regole delle card*/
.riga .card{
    width: 33%;
    height: 100%;
    display: inline-block;
    padding: 50px 20px;

}

/*contenuti della section strumenti*/
 .strumenti .riga.titolo{
    font-size: 1.8em;
 }
.riga .card img{
    width: 100%;
}

.riga .card h3{
    margin: 20px 0px;
    font-size: 1.7em;
}
.riga .card p{
    font-size: 1.1em;
}

.strumenti .underline{
    text-decoration: underline;
}
/*section member*/

.titolo-member{
    margin-top: 50px;
    margin-bottom:50px;
}

/*titolo della section member*/
.titolo-member h2{
    font-size: 2.5em;
    width: 50%;
    margin-bottom: 35px;
}

.titolo-member a{
    margin-bottom: 35px;
}
.titolo-member a{
    color: #176fff;
}

/*regole di flottaggio delle colonne*/
#member .col{
    float: left;
    height: 30vw;
    width: 30vw;  
}

#member .col.dx{
    float: right;
    
}

#member .col-center{
    float: left;
    height: 30vw;
    width: calc(100% - 60vw);
    overflow: auto;
    background-color: #f5f5f5;
}

/*regole di flottaggio degli item*/
#member .col .item{
    float: left;
    height:50%;
    width: 50%;
    text-align: center;
    line-height: 15vw;
    border: solid 5px;
    position: relative;
}


/*contenuti delle colonne*/
.image-member{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#member .item img{
    filter: invert();
   object-fit: cover;
   width: 100%;
   vertical-align: middle;   
}

#member .text-col-center img{
    width: 30%;
}
#member .col-center .text-sponsor p{
    width: 90%;
    margin: 50px 0px;
}

#member .text-col-center{
    padding: 50px;
}



/*primo quadrato di sx*/
#member .item.verde{
    background-color: #a2d39b;
    border-color: #d0e9cd;
}
/*secondo quadrato di sx*/
#member .item.grenada{
    background-color: #61082b;
    border-color: #61082b;
}
/*terzo quadrato di sx*/
#member .item.cyan{
    background-color: #0093ce;
    border-color: #0093ce;
}
/*quarto quadrato di sx*/
#member .item.red{
    background-color: #ff1c1c;
    border-color: #ff1c1c;
}

/*primo quadrato di dx*/
#member .item.darkred{
    background-color:#d5001f;
    border-color: #d5001f;
}
/*secondo quadrato di dx*/
#member .item.lightblue{
    background-color: #b4d0e7;
    border-color: #b4d0e7;
}
/*terzo quadrato di dx*/
#member .item.blue{
    background-color: #0d2481;
    border-color: #0d2481;
}
/*quarto quadrato di sx*/
#member .item.yellow{
    background-color: #ffd830;
    border-color: #ffd830;
}


/*section cta*/

.banner-cta{
    background-color: #b4d0e7;
    padding-top: 100px;
    padding-bottom: 100px;
}

/*regole di flottaggio della cta*/
.banner-cta .text-cta{
    width: 70%;
    float: left;
    font-size: 2em;
    color:#61082b;
}

.banner-cta .btn-cta{
    width: 30%;
    float: right;
    margin-top: 10px;
}

/*contenuto della cta*/
.banner-cta .text-cta h2{
    width: 70%;
}


/*bottone della cta*/
.banner-cta .btn.white.cta{
    display: inline;
    padding: 8px 50px;
}


/*section faq*/

.faq{
    margin-top: 100px;
}

/*regole di flottaggio della faq*/
.faq .question{
    width: 90%;
    float: left;
    margin: 10px 0px;
}

.faq .arrows{
    width: 10%;
    float: right;
    text-align: right;
}

/*contenuto della faq*/
.faq h2{
    font-size: 2em;
    margin-bottom: 50px;
}

/*footer*/

footer{
    margin-top: 100px;
    background-color: #000;
}

/*regola di flottaggio del footer*/
footer .colonna-footer{
    width: 20%;
    float: left;
    color: #fff;
    margin-top: 50px;
}

/*regole delle colonne*/
.colonna-footer h3{
    margin-bottom: 15px;
    font-size: 1.4em;
}
.colonna-footer li{
    list-style: none;
    padding: 10px 0px;
}

.colonna-footer li a{
    text-decoration: none;
    color: #fff;
}

/*contenuto del footer*/
.footer-row p{
    color: #585858;
    padding: 30px 0px;
}
footer .fas.fa-sort-up{
    vertical-align: sub;
}
.linea.footer{
    margin-top: 75px;
    width: 10%;
    color: #fff;
}
/*effetto di hover del footer*/
footer a:hover{
    text-decoration: underline;
}